/*reset*/
*{
    margin: o;
    padding: o;
    box-sizing: border-box;


}

/*estilos genericos*/


body{
    background-color: rgb(77, 148, 18);
    font-family: Georgia, 'Times New Roman', Times, serif;   
 }

    /*estilos de home*/

    img {

        border-radius: 50%;
        box-shadow: 10px 10px 10px 5px rgb(48, 223, 92),
              5px 5px 5px 10px rgb(24, 124, 108);
    }
        
    
    header{
        text-align: center;
        padding: 30px;
        font-family: 'Cedarville Cursive', cursive; 
        text-shadow: 8px 8px 8px gray;
    }
    
    header h1{
        background-color: rgb(6, 110, 41);
        color: rgb(174, 223, 152);
        padding: 40px;
        border-top-left-radius: 25px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 75px;
        border-bottom-left-radius: 100px;
    
    }

    header img{

         width: 40%;
    }    

    nav{
        text-align: center;
        
    }
    header nav{

        display: inline-block;

        
    }

    header nav ul{
          list-style: none;
          text-align: center;

    }

    header nav ul li{
        display: inline-block;
        margin-left: 20px;
        
        
    }

    header nav ul li a{
        
        text-decoration: none;
        color: rgb(51, 88, 51);
        font-weight: bolder;
        
    }

    

    /*estilos de main*/

    main{
        text-align: center;
        padding: 40px;
        
    }

    main p{
        border-radius: 20px;
        margin-bottom: 50px;
        background-color: rgb(120, 218, 169);
        font-family: 'Times New Roman', Times, serif;
    }
    main h2{
        margin-bottom: 30px;
    }

     footer{
        clear: both;
        background-color: #79ceb2;
        color: rgb(47, 161, 76);
        text-align: center;
        padding: 10px;
        margin-top: 50px;
    }

    
    #navegacion{
        
     background-color: #55fa8c;
     border-top-left-radius: 25px;
     border-top-right-radius: 50px;
     border-bottom-right-radius: 75px;
     border-bottom-left-radius: 100px;
     width: 250px;
     height: 150px;
     background-color: #9fd89a;
     padding: 10px;  
         }

 h1{
    border-radius: 200px;
         }

#imagen2{
    width: 40%;
    height: 40%;
}

#fotos{
    width: 50%;
    height: 50%;
    display: inline-block;
    margin-left: 20px;
}

h3{

    padding: 50px;
}
         
